.main_grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 80%;
  height: 100%;
  margin-left: 15%;
}

.main_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}